</br>
</br>
</br>
</br>

<article class="panel is-warning">
  <p class="panel-heading">
    篩選項目
  </p>
  <label class="panel-block">
    <input type="checkbox">
    高價位（４００以上）
  </label>
  <label class="panel-block">
    <input type="checkbox">
    中價位（２００－４００）
  </label>
  <label class="panel-block">
    <input type="checkbox">
    低價位（０－２００）
  </label>
  <div class="panel-block">
    <button class="button is-outlined is-fullwidth">
      重新篩選結果
    </button>
  </div>
</article>