<article class="message is-warning">
  <div class="message-body">

    <%= render 'shared/frontend/message/identity'%>
    <%= render 'shared/frontend/message/relation_info'%>
    

  </div>
</article>

    


