
<%= render 'shared/frontend/message'%>

<h1>主頁面標示</h1>
<br/>

------------測試內容------------

<p>
current_user資訊
<br/>
<%= current_user.attributes if current_user.present?%>
</p>

<br/>

<p>
user_session資訊:
<br/>
<%= user_session if user_session.present?%>
</p>



