/*
 *= require_tree .
 *= require bulma/bulma.css
 *= require bulma/customize.css
 *= require_self
 */

 .navbar-link {
    .user-avatar {
        border-radius: 50%;
        margin-right : 10px;    
    }   
 }

 .ribbon-bar{
    background-color: #FFDD57;
    height:0.5em;
    overflow: hidden;
}

.ribbon-table-line{
    background-color: #FFEE99;
    height:0.2em;
    overflow: hidden;
}

.ribbon-bar-line {
    background-color: #FFDD57;
    height:0.3em;
    overflow: hidden;  
}

.comments_border{
    width: 80%;
    margin:0px auto;
}

.menu_border{
    width: 80%;
    margin:0px auto;
}

.main_search_bar {
    width:80%;  
}

.map_border {
    width: 80%;
    margin:0px auto;
}
    
.Google_map {
    width: 600px;
    height: 400px;
    margin:0px auto;
}

.card-footer-item-chose {
    background:#FFEE99;
}

.result-list-div {
    border-right:1px	#D3D3D3 solid;
    border-left :2px 	#D3D3D3 solid; 
}

.card-title-dash{
    border-left :6px 	#FFCC33 solid; 
}

.preview_region{
    width: 250px;
    height: 250px;
    border:3px 	#FFDD57 solid;
    overflow:hidden;
}



