/*
 *= require_tree .
 *= require bulma/bulma.css
 *= require bulma/customize.css
 *= require_self
 */

 .navbar-link {
    .user-avatar {
        border-radius: 50%;
        margin-right : 10px;    
    }   
 }

 .ribbon-bar{
    background-color: #FFDD57;
    height:0.5em;
    overflow: hidden;
}

.ribbon-table-line{
    background-color: #FFEE99;
    height:0.2em;
    overflow: hidden;
}

.ribbon-bar-line {
    background-color: #FFDD57;
    height:0.3em;
    overflow: hidden;  
}

.comments_border{
    width: 80%;
    margin:0px auto;
}

.comment-head {
}

.comment-content {
    background:#edeada;
}

.comment_time {
    text-align:right;
    font-size:12px;  
    font-weight:bolder;
}

.menu_border{
    width: 80%;
    margin:0px auto;
}

.main_search_bar {
    width:80%;  
}

.map_border {
    width: 80%;
    margin:0px auto;
}
    
.Google_map {
    width: 600px;
    height: 400px;
    margin:0px auto;
}

.card-footer-item-chose {
    background:#FFEE99;
}

.result-list-div {
    border-right:1px	#D3D3D3 solid;
    border-left :2px 	#D3D3D3 solid; 
}

.card-title-dash{
    padding-left:10px;
    border-left :7px 	#FFCC33 solid; 
}

.preview_region{
    width: 250px;
    height: 250px;
    border:3px 	#FFDD57 solid;
    overflow:hidden;
}

.store_picture_frame{
    width: 300px;
    height: 300px;
    border:3px 	red solid;
    overflow:hidden;
}

.focus_image_region {
    width: 600px;
    height: 500px;
    margin: 0px auto;
}

.next_link_region{
    position: relative;
    display:flex;
    align-items:center;
    width: 100px;
}

.pre_link_region{
    position: relative;
    display:flex;
    align-items:center;
    width: 100px;
}

.pre_link_img{
    position:absolute;
    right:20px;   
}

.next_link_img{
    position:absolute;
    left:20px;
}

.image_hide_list {
    margin-right:1px;
    margin-left:1px;
}

.fade_img_chose {
    opacity: 0.5;
}

.fade_img_unchose {
    opacity: 1.0;
}

.frame_chose {
    border:2px 	#ffcb00 solid;
}

.sub_page_output {
    background:#faf8f5;
}

.menu-box {
    background-color: #FFEE99;
}

.address_patch {
    background-color: #edeada;
}

.search_list_avater {
    width:  160px;
    height: 160px;
    border:2px 	#ccccc6 solid;
    max-width:  100%;
    display:  flex;
    align-items: center;
    justify-content:  center;
}

// star ranking
.star-ratings-css {    
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 125px;
    margin-left: 0px;
    margin-bottom: 15px;

    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    
    &-top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
}

.store_card_title {
    margin-top: 5px;
    margin-left: 10px;
}

// card info format
dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    float: left;
    width: 5%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
}
  
dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0;
}

.detail_info_title {
    margin-top: 20px;
    margin-left: 20px;
    padding:5px;
    height:40px;
    border-left :7px 	#FFCC33 solid;
}
.etail_info_title_th {
    background-color:#eeece4;
    width: 20%;
}

.menu_info_title_th_ {    
    &index {
        background-color:#FFEE99;
        width: 10%;
    }
    &item {
        background-color:#FFEE99;
        width: 80%;
    }
    &price {
        background-color:#FFEE99;
        width: 10%;
    }
    &feat {
        font-weight:normal;
    }
}


.media-left {
    margin: 10px;
}