<p>
<div class="menu_border">
    <div class="title menu_center_border">店家菜單列表頁面</div>
    <% if @menu_exist %>
            </br>
            <table class="table is-fullwidth is-bordered">
                <thead>
                    <tr>
                        <th class="menu_info_title_th_index" >項次</th>
                        <th class="menu_info_title_th_item" >品項</th>
                        <th class="menu_info_title_th_price" >價格</th>
                    </tr>
                </thead>
                <% @menus.each_with_index do |menu, index|%>    
                <tbody>
                    <tr>
                        <th class="menu_info_title_th_feat" ><%= index + 1 %></th>
                        <th class="menu_info_title_th_feat" ><%= menu.item_name %></th>
                        <th class="menu_info_title_th_feat" ><%= menu.item_price %></th>
                    </tr>
                </tbody>
                <% end %>
            </table>
    <% else %>
        <p>目前暫無菜單資料</p>
    <% end %>
</div>
</p>




                