<p>
<div class="menu_border">
    <div class="title menu_center_border">店家菜單列表頁面</div>
    <% if @menu_exist %>
            </br>
            <table class="table">
                <thead>
                    <tr>
                        <th>項次</th>
                        <th>品項</th>
                        <th>價格</th>
                    </tr>
                </thead>
                <% @menus.each_with_index do |menu, index|%>    
                <tbody>
                    <tr>
                        <th><%= index + 1 %></th>
                        <th><%= menu.item_name %></th>
                        <th><%= menu.item_price %></th>
                    </tr>
                </tbody>
                <% end %>
            </table>
    <% else %>
        <p>目前暫無菜單資料</p>
    <% end %>
</div>
</p>




                